<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiagaTani">

        <!-- Splash sebagai launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.NiagaTani.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome Screen -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.NiagaTani.NoActionBar" />

        <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NiagaTani.NoActionBar" />
        <activity android:name=".ui.CheckoutActivity" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


</manifest>
